:root {
  --orange: #ff9900;
  --white: #fff;
  --dark-grey-text: #2f281e;
  --light-grey-text: #544837;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 20px;
}

/*Navigation bar styling*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 17px 0;
  margin-bottom: 30px;
}

.navbar-items {
  display: flex;
}

.navbar-items > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-right: 29px;
}

.navbar-items > ul li a {
  display: block;
  text-decoration: none;
  color: var(--dark-grey-text);
  line-height: 28px;
  font-size: 14px;
  margin-right: 20px;
}

.navbar-items > ul li a:visited {
  color: blueviolet;
}

.btn {
  border: none;
  background-color: var(--orange);
  color: var(--white);
}

.btn:hover {
  background-color: #f8b146;
}

.btn:active {
  background-color: #e78b01;
}

button {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

button:active {
  position: relative;
  top: 2px;
}

.navbar-items > button {
  margin-left: 16px;
  padding: 11px 22px;
}

.btn-sign-in {
  border: 1px solid #bcd0e5;
  background-color: var(--white);
  color: #173a56;
}

.btn-sign-in:active {
  background-color: #bcd0e5;
}

/*Hero section styling */

.header-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.header-introduction-text {
  max-width: 600px;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  color: var(--dark-grey-text);
  margin-bottom: 30px;
}

p {
  color: var(--light-grey-text);
  line-height: 26px;
}

.header-introduction-text > p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}

.header-introduction-btn-container > button {
  padding: 15px 41px;
}

.btn-watch-video {
  border: none;
  background-color: var(--white);
  color: var(--orange);
  text-decoration: underline;
}

.btn-watch-video .play-icon {
  position: relative;
  top: 4px;
  right: 8px;
}

/*First section - features styling*/

h2 {
  font-size: 36px;
  color: var(--dark-grey-text);
}

.features-container > h2 {
  text-align: center;
  margin: 0 auto 54px auto;
  max-width: 600px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.feature {
  max-width: 240px;
}

.feature > img {
  margin-bottom: 30px;
}

.feature > h3 {
  font-size: 22px;
  margin-bottom: 13px;
}

.features-container > .btn-sign-up-now {
  display: block;
  padding: 15px 33px;
  margin: 0 auto 90px auto;
}

/*First/Third section - design professionals/marketers styling*/

.section-info-left {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-info-left-text-section {
  max-width: 600px;
}

.section-info-left-text-section > h2 {
  margin: 3px 0 22px 0;
}

.section-info-left-paragraph {
  margin-bottom: 25px;
}

.section-info-left-text-section strong {
  color: var(--dark-grey-text);
  margin-bottom: 12px;
  display: block;
}

/*Second section - Product managers*/
