:root {
  --orange: #ff9900;
  --white: #fff;
  --dark-grey-text: #2f281e;
  --light-grey-text: #544837;
  --ligt-blue: #bcd0e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 20px;
}

/*Navigation bar styling*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 17px 0;
  margin-bottom: 30px;
}

.navbar-items {
  display: flex;
}

.navbar-items > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-right: 29px;
}

.navbar-items > ul li a {
  display: block;
  text-decoration: none;
  color: var(--dark-grey-text);
  line-height: 28px;
  font-size: 14px;
  margin-right: 20px;
}

.navbar-items > ul li a:visited {
  color: blueviolet;
}

.btn {
  border: none;
  background-color: var(--orange);
  color: var(--white);
}

.btn:hover {
  background-color: #f8b146;
}

.btn:active {
  background-color: #e78b01;
}

button {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

button:active {
  position: relative;
  top: 2px;
}

.navbar-items > button {
  margin-left: 16px;
  padding: 11px 22px;
}

.btn-sign-in {
  border: 1px solid var(--ligt-blue);
  background-color: var(--white);
  color: #173a56;
}

.btn-sign-in:active {
  background-color: var(--ligt-blue);
}

/*Hero section styling */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.hero-section-text {
  max-width: 600px;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  color: var(--dark-grey-text);
  margin-bottom: 30px;
}

p {
  color: var(--light-grey-text);
  line-height: 26px;
  font-weight: 500;
}

.hero-section-text > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
}

.btn-container > button {
  padding: 15px 41px;
}

.btn-watch-video {
  border: none;
  background-color: var(--white);
  color: var(--orange);
  text-decoration: underline;
}

.btn-watch-video .play-icon {
  position: relative;
  top: 4px;
  right: 8px;
}

/*First section - features styling*/

h2 {
  font-size: 36px;
  color: var(--dark-grey-text);
}

.features-container {
  margin-bottom: 210px;
}

.features-container > h2 {
  text-align: center;
  margin: 0 auto 54px auto;
  max-width: 600px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.feature {
  max-width: 240px;
}

.feature > img {
  margin-bottom: 30px;
}

.feature > h3 {
  font-size: 22px;
  margin-bottom: 13px;
}

.features-container > .btn-sign-up-now {
  display: block;
  padding: 15px 33px;
  margin: 0 auto 90px auto;
}

/*First/Third section - design professionals/marketers styling*/

.text-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.text-container {
  max-width: 600px;
}

.text-container > h2 {
  margin: 3px 0 22px 0;
}

.text-container-paragraph {
  margin-bottom: 30px;
}

.text-container strong {
  color: var(--dark-grey-text);
  margin-bottom: 12px;
  display: block;
}

/*Second section - Product managers*/

.check-icon-container {
  display: flex;
  align-items: center;
}

.check-icon-container > p {
  margin-left: 30px;
}

.check-icon-container img {
  position: relative;
  bottom: 15px;
}

.last-main-container {
  margin-bottom: 146px;
}

/*Footer styling*/

footer {
  padding-top: 102px;
  margin-bottom: 83px;
  border-top: 1px solid var(--ligt-blue);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-info {
  padding-top: 65px;
  align-self: flex-end;
  line-height: 35px;
  color: var(--light-grey-text);
}

.footer-info > p {
  font-weight: 400;
}

.form-container {
  width: 325px;
}

footer input {
  display: block;
}

footer input[type="email"] {
  padding: 15px;
  width: 100%;
  margin-bottom: 21px;
  border: 1px solid var(--ligt-blue);
  border-radius: 4px;
}

footer input[type="submit"] {
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.footer-btn:active {
  position: relative;
  top: 2px;
}
